/* Importação da API de fontes do google */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-image: url(../src/images/pessoas-negocio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


/* Centralização de logotipo */
.logo-image {
  display: flex;
  margin: auto;
}

.d-flex {
  display: flex;
}

.center {
  display: inline-flex;
  margin: auto;
  padding: auto;
  align-items: center;
}

h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 100px;
  padding-block: 8px;
}

.select-box {
  position: relative;
  padding-inline: 20px;
}

select,
option {
  margin: auto;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
  color: #fff !important;
  background-color: #000;
  font-weight: 400;
}

@media (max-width:500px) {
  body {
    background-image: none;
    background-color: #000;
  }
}